services:
  freeswitch:
    build: .
    container_name: freeswitch-dev
    network_mode: "host"
    cap_add:
     - SYS_NICE
     - SYS_RESOURCE
    volumes:
      - ./freeswitch-conf:/usr/local/freeswitch/conf
      - ./freeswitch-logs:/usr/local/freeswitch/log
      - ./freeswitch-db:/usr/local/freeswitch/db
    restart: unless-stopped
    depends_on:
      - api
      - esl

  api:
    build: ./api
    container_name: freeswitch-api
    network_mode: "host"
    restart: unless-stopped

  esl:
    build: ./esl
    container_name: freeswitch-esl
    network_mode: "host"
    restart: unless-stopped