services:
  freeswitch:
    build: .
    container_name: freeswitch-dev
    network_mode: "host"
    cap_add:
     - SYS_NICE
     - SYS_RESOURCE
    volumes:
      - ./freeswitch-conf:/usr/local/freeswitch/conf        # Config override
      - ./freeswitch-logs:/usr/local/freeswitch/log         # Logs
      - ./freeswitch-db:/usr/local/freeswitch/db
      - ./custom-modules:/usr/src/freeswitch/src/mod        # Optional: custom modules
    restart: unless-stopped
    command: ["/usr/local/freeswitch/bin/freeswitch", "-nc", "-nf", "-nonat", "-conf", "/usr/local/freeswitch/conf", "-log", "/usr/local/freeswitch/log", "-db", "/usr/local/freeswitch/db"]
   # entrypoint: ["sleep", "3600"]
